<h1>Regsiter for my blog!</h1>
<div>
  Fill out the form and click "Sign Up"
</div>
<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input name="username" type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>

<a href="/login">need to log in instead?</a>

<script src="/js/signup.js"></script>